/* HEADER CSS */
.header {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    color: #777;
}

/* NAVBAR CSS */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;    
}

.nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}